*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.container{
  margin-top: 20px;
  width: 50%;
  padding: 20px;
  border: 1px solid grey;
  text-align: center;
}
.user_content{
  margin-top:2px ;
  list-style-type: none;
}
